/.idea
/source/T5_LinearStructure/P41_Stack/__pycache__
/source/T5_LinearStructure/P42_Queue/__pycache__/*.pyc
/source/T5_LinearStructure/P44_PQueue/__pycache__
/source/T6_Trees/P63_BinaryTree/__pycache__
/source/T5_LinearStructure/P1_Stack/__pycache__
/source/utils/__pycache__
/source/T5_LinearStructure/P2_Queue/__pycache__
/source/T5_LinearStructure/P4_PQueue/__pycache__
/source/T6_Trees/P2_BinaryTree/__pycache__
/source/T7_Graphs/P1/__pycache__
/source/T7_Graphs/P2/__pycache__
/source/T7_Graphs/P3/__pycache__
/source/T6_Trees/P1/__pycache__
/source/T7_Graphs/P1_Definitions/__pycache__
/source/T7_Graphs/P2_Nonweighted/__pycache__
/source/T7_Graphs/P3_Weighted/__pycache__
/source/T3_Find_Search/P2_Sort/__pycache__
/labs/L4_Sort/task1/__pycache__
/labs/L2_Search/task1/__pycache__
/labs/L2_Search/task2/__pycache__
/labs/L2_Search/task3/__pycache__
/source/T3_Find_Search/P1_Search/__pycache__
/labs/L3_Hashtables/task2/__pycache__
/labs/L3_Hashtables/task1/__pycache__
/labs/T3/Search/task2/__pycache__
/labs/T3/Search/task3/__pycache__
/labs/T3/Search/task4/__pycache__
/labs/T3/Search/task5/__pycache__
/labs/T3/Hashtables/task2/__pycache__
/source/T5_LinearStructure/P3_List/__pycache__
/source/T6_Trees/P2_BinaryTree/examples/__pycache__
/labs/T3/Sort/task1/__pycache__
/labs/T3/Sort/task2/__pycache__
/labs/T5/List/task1/__pycache__
/labs/T5/List/task4/__pycache__
/source/T6_Trees/P1/example/__pycache__
/source/T7_Graphs/P4_Weighted/__pycache__
/source/T5_LinearStructure/P2_Queue/examples/__pycache__
/source/T7_Graphs/P3_Maizes/__pycache__
/labs/T3/Search/task1/__pycache__
/labs/T5/List/task3/__pycache__
/labs/L15/task1/__pycache__
/labs/L15/task3/__pycache__
/labs/L15/task4/__pycache__
/labs/L03/task1/__pycache__
/labs/L03/task2/__pycache__
/labs/L08/task1/__pycache__
/labs/L08/task2/__pycache__
/labs/L08/task3/__pycache__
/labs/L08/task4/__pycache__
/labs/L09/task3/__pycache__
/labs/L07/task2/__pycache__
/labs/L06/task1/__pycache__
/labs/L06/task2/__pycache__
/labs/L06/task3/__pycache__
/labs/L06/task4/__pycache__
/labs/L06/task5/__pycache__
/labs/T3/Hashtables/task1/__pycache__
